<% if @product.count <= 0%>
<div class="py-6 py-lg-12 cart-margin">
  <div class="container">
      <div class="row">
          <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center">
              <img src="../assets/images/bag.svg" alt="" class="img-fluid mb-4">
              <%= image_tag('img/cart.svg')%>
              <h2>No Products Here!</h2>
              <div class="text-muted">
                  No products here. Go to homepage and add some <br> products to display here.
              </div>
              <a href="/" class="btn btn-primary mt-4">Return Home</a>
          </div>
      </div>
</div>
</div>
<% else %>
<section style="height: 100%; background-color: #eee;">
  <div class="container py-5">
      <form role="search" class="container mb-4 d-flex">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :name_cont, class: 'form-control', placeholder: 'Search by product name...' %>
          <%= f.submit 'Search', class:' btnt btn-primary btn-sm mx-2 text-white'%>
        <% end %>
      </form>
  <% @product.each do |x| %>
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface overflow-hidden">
                  <% if x.image.attached? %>
                      <%= link_to image_tag(x.image, class:'show-image'), product_path(x)%>
                  <% else %>
                  <%=link_to image_tag('img/bg.jpg', class:'show-image'), product_path(x)%>
                  <% end %>
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5><%= x.name %></h5>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <span>310</span>
                </div>
                <div class="mt-1 mb-0 text-muted small">
                  <span><%= pluralize(x.views, 'view')%></span>
                  <span class="text-primary"> • </span>
                  <span>Light weight</span>
                  <span class="text-primary"> • </span>
                  <span>Best finish<br /></span>
                </div>
                <div class="mb-2 text-muted small">
                  <span>Unique design</span>
                  <span class="text-primary"> • </span>
                  <span><%= x.category %></span>
                  <span class="text-primary"> • </span>
                  <span><%= x.brand %><br /></span>
                </div>
                <p class="text-truncate mb-4 mb-md-0">
                  There are many variations of passages of Lorem Ipsum available, but the
                  majority have suffered alteration in some form, by injected humour, or
                  randomised words which don't look even slightly believable.
                </p>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">$<%= x.disprice%></h4>
                  <% if x.oriprice.present? %>
                  <span class="text-danger"><s>$<%= x.oriprice %></s></span>
                  <% end %>
                </div>
                <h6 class="text-success"> <%= x.user.email %></h6>
                <div class="d-flex flex-column mt-4">
                  <%= link_to 'Details', product_path(x), class: 'btnt btn-primary rm text-center text-white btn-sm'%>
                  <button class="btn btn-outline-primary btn-sm mt-2 disabled" type="button">
                    Added <%= time_ago_in_words(x.created_at) +  ' ago'%>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</section>
<% end %>